.home-nav{
    width: 77%;
    margin: 20px auto;
    .filter-btn {
        background-color:rgba(40,156,127,255);
        border: none;
        margin-right: 1%;
        i {
            margin-left: 5px;
            position: relative;
            top: -2px;
           
        }
    }
}
.filter{
    width: 65%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border: 2px solid rgb(33, 163, 214);
    border-radius: 10px;
    div{
        height: 40px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        &:hover {
            background-color: rgb(33, 163, 214);
        }
        &:active{
            background-color: rgb(33, 163, 214);
        }
        &:last-child{
            border-left: 2px solid rgb(33, 163, 214);
        }
        &:first-child{
            border-right: 2px solid rgb(33, 163, 214);
        }
    }
}
.main-container{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 auto;
    gap: 10px;
    img{
        height: 310px;
        width: 100%;
        object-fit: cover;
        z-index: 4;

    }
    .hever_content{ 
        
        position: relative;
        padding: 10%;
        .average_rate{
            display: none;
            text-align: center;
        }
        .genres{
            display: none;
            padding-top: 10%;
            p{
                margin: 0;
                padding: 0;
            }
            span{
                font-weight: bold;
                font-size: 1.3rem;
            }
            text-align: center;

        }
        .view_details{
            cursor: pointer;
            position: absolute;
            bottom: 30%;
            right: 5%;
            display: none;
            border-radius: 5px;
            margin: 0 auto;
            // margin-top: 20%;
            background-color: green;
            text-align: center;

            width: 90%;
            p{
                margin: 0;
                padding: 5px 0;
            }

        }

        &:hover{
            border: 4px solid green;
            .view_details{
                display: block;
            }
            .average_rate{
                display: block;
            }
            .genres{
                display: block;
            }
            
        }
        &:hover+img {
            opacity: 0.3;
          }
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

    }

    .hover_border{
        position: relative;
            background-color: black;
        &:hover{
            z-index: 5;
        }
    }
}
.search-container{
    width: 60%;
    margin: 20px auto;
    button {
        color: #fff;
        background-color:rgb(33, 163, 214);
    }
}
.no-movie{
    color: #fff;
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    text-align: center;
}
#checkb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color:black;
    -webkit-appearance: none;
    border: 2px solid rgba(40,156,127,255);
    position: relative;
    margin-right: 10px;
    margin-left: 20px;
    top: 1px;
}

#checkb:checked {
    background: rgba(40,156,127,255);
}
.checkbox-container {
    padding-top: 7px;
    position: absolute;
    display: inline-block;
}
hr{
    color: rgb(33, 163, 214);
}
.active{
    background-color: rgb(33, 163, 214) !important;
}
